/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
  .content { 
    width: 280px;
    margin-left: 25px;
  }

  .content, .content h1 { font-size: 14px; }
}

body {
  font: normal 100% Helvetica, Arial, sans-serif;
}

#headernav {
  position: fixed;
  width: 100%;
  font-color: white;
  opacity: .95;
}

#page {
  margin: 36px auto;
  width: 90%;
}

h1 {
  font-family: Georgia, serif;
  font-size: 1.5em; /* 24px / 16px = 1.5em */
  margin-left: 14.575%; /* 144px / 988px = 0.14575 */
  width: 70.85%; /* 700px / 988px = 0.7085 */
}