<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> -->
<html>

  <head>
    <title>Entreprenology | Connecting Interns & Startups</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Offside|Monda|Graduate|Text+Me+One|Bree+Serif|Aldrich:400,700' rel='stylesheet' type='text/css'/>
    <!-- <meta name = "viewport" content="width=640"> -->
  </head>


  <body>

    <div id="map"></div>
      <div id="header" class="head-foot-bars">
        <img id="headerimg" src="./app/assets/images/headerlogo.png"/>  
          <div id="headernav">
            <ul>
              <li id="about" class="nav-buttons"><a>About</a></li>
              <li id="register" class="nav-buttons"><a>Register</a></li>
              <li id="sign-in" class="nav-buttons"><a>Sign in</a></li>
            </ul>
          </div>
            <!-- <div class="clear"></div> -->
      </div>

      <div id="sidebar">
        <h1></h1> 
        <div id="toggle"></div>
      </div>
    <!--container for original mailchimp <div class="container"> -->
     <!-- <script src="jquery.js" type="text/javascript" charset="utf-8"></script> -->
  </body>

</html>

