<!DOCTYPE html>
<html>
<head>
  <title>Entreprenology | Connecting Interns & Startups</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="map"></div>

  <header id="headernav" class="nav">
    <ul class="nav-buttons">
      <li id="register"><a>Register</a></li>
      <li id="signup"><a>Sign-up</a></li>
      <li id="about"><a>About</a></li>
    </ul>
  </header>

  <div id="page">

    <%= yield %>

  </div>
  
  <footer></footer>

</body>
</html>
