<div class="content" id="welcome-box">
  <h1>Coming soon!</h1>
  <p>Connecting Interns with Startups all over the world</p>

  <img class="image" id="logo" src=""></a>

  <p>Stay in the loop</p>

  <form>

    <strong>Email Address: </strong>
    <input type="name">
    <strong>Name: </strong>
    <input type="email">
    
  </form>

</div>