<div id="wrapper">
		
			<header>
				
				<nav id="skipTo">
					<ul>
						<li>
							<a href="#main" title="Skip to Main Content">Skip to Main Content</a>
						</li>
					</ul>
				</nav>
				
				<h1>Ian Steffy</h1>
				
				<!-- NAV GOES HERE -->
				
				<div id="banner">
					<img src="http://blog.gettyimages.com/wp-content/uploads/2013/01/Siberian-Tiger-Running-Through-Snow-Tom-Brakefield-Getty-Images-200353826-001.jpg" alt="banner" />
				</div>
				
			</header>	
		
			<section id="main">
				<h1>Visual Showcase</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>

		
			<aside>
				<h1>About</h1>
				<table border="1">
					<tr>
						<td>Location</td>
						<td>Lancaster,Pa</td>
					</tr>
					<tr>
						<td>Industry</td>
						<td>Web Dec</td>
					</tr>
					<tr>
						<td>Date of Birth</td>
						<td>Web Dec</td>
					</tr>
					<tr>
						<td>Interests</td>
						<td>Videogame Dev</td>
					</tr>

				</table>
			</aside>
	
				<section id="main">
				<h1>Projects/Reccomendations</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>
		</div>
